	<div id="top" class="iconfont icon-top"></div>
  <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
  <% if (theme.fancybox){ %><%- css('fancybox/jquery.fancybox') %>
  <%- js('fancybox/jquery.fancybox.pack') %><% } %>
  <%- js('js/base') %>
