<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br/>
      <a  href="https://github.com/weswu/hexo-wes" title="github/weswu" target="_blank">Github</a>
    </div>
  </div>
</footer>
