#footer
  background: color-footer-background
  padding: 50px 0
  border-top: 1px solid color-border
  color: color-grey
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline

#footer-info
  line-height: line-height
  font-size: 0.85em

#top
  position: fixed
  bottom: 23px
  right: 23px
  cursor: pointer
  z-index: 999
  transition: all 0.5s ease 0s
  display: block
  opacity: 1
  color: #b92b27
  font-size: 0
  &:hover
    color: #b92b27
  &.reveal
    font-size: 3em
    &:active
      font-size: 3.5em
      -webkit-transition: all 0.2s ease-out
      -ms-transition: all 0.2s ease-out
      -moz-transition: all 0.2s ease-out
      -o-transition: all 0.2s ease-out
      transition: all 0.2s ease-out


::-webkit-scrollbar-track
  background-color: #fff

::-webkit-scrollbar
  width: 10px
  height: 10px;
  background-color: #fff

::-webkit-scrollbar-thumb
  background-color: #ccc
